### List

In [2]:
data = [4, 4.55, 3, 3, 6, 8, 2, True, "Str", 3+5j]
data

[4, 4.55, 3, 3, 6, 8, 2, True, 'Str', (3+5j)]

### Indexing

In [3]:
data[0]
data[-1]
data[::-1]

[(3+5j), 'Str', True, 2, 8, 6, 3, 3, 4.55, 4]

In [4]:
#Update
data[0] = 44
data[2:4] = 9, 9
data

[44, 4.55, 9, 9, 6, 8, 2, True, 'Str', (3+5j)]

### List Methods

In [5]:
nums = [3,45,6,7,3,78,3,788,6]
nums

[3, 45, 6, 7, 3, 78, 3, 788, 6]

In [6]:
nums.append(99)
nums.insert(1,-99)
nums.extend([3,4,5,67])
nums

[3, -99, 45, 6, 7, 3, 78, 3, 788, 6, 99, 3, 4, 5, 67]

In [7]:
nums.count(3)

4

In [8]:
nums.index(45)

2

In [9]:
nums.pop(-1)

67

In [10]:
nums.remove(99)
nums

[3, -99, 45, 6, 7, 3, 78, 3, 788, 6, 3, 4, 5]

In [11]:
nums.reverse()
nums

[5, 4, 3, 6, 788, 3, 78, 3, 7, 6, 45, -99, 3]

In [12]:
len(nums)

13

In [13]:
nums.sort()
nums

[-99, 3, 3, 3, 3, 4, 5, 6, 6, 7, 45, 78, 788]

In [14]:
nums.sort(reverse=True)
nums

[788, 78, 45, 7, 6, 6, 5, 4, 3, 3, 3, 3, -99]

In [15]:
nums.clear()
nums

[]

### Shallow Copy vs Deep Copy

In [16]:
nums = [3,45,6,7,3,78,3,788,6]
nums2 = nums    #Shallow Copy
nums2.append(9999)
nums

[3, 45, 6, 7, 3, 78, 3, 788, 6, 9999]

In [17]:
nums3 = nums.copy()
nums3.append(333333)
nums3

[3, 45, 6, 7, 3, 78, 3, 788, 6, 9999, 333333]

## Tuple

In [18]:
t = (3,45,6,7,3,78,3,788,6)
t[::-1]

(6, 788, 3, 78, 3, 7, 6, 45, 3)

## Set

In [19]:
s1 = {9,2,3,4,2,4,3,5,6}
s1.add(33)
s1

{2, 3, 4, 5, 6, 9, 33}

In [20]:
s1.discard(9)
s1

{2, 3, 4, 5, 6, 33}

In [21]:
s1.remove(2)
s1

{3, 4, 5, 6, 33}

In [22]:
s1.pop()

33

In [23]:
s1 = {2, 3, 4, 5, 6}
s2 = {7, 3, 4, 8, 9}
s1.union(s2)

{2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
s1.intersection(s2)

{3, 4}

In [25]:
s1.difference(s2)

{2, 5, 6}

In [26]:
s2.difference(s1)

{7, 8, 9}

In [27]:
s1.symmetric_difference(s2)

{2, 5, 6, 7, 8, 9}

In [28]:
s2.symmetric_difference(s1)

{2, 5, 6, 7, 8, 9}

In [29]:
s1.symmetric_difference_update(s2)
s1

{2, 5, 6, 7, 8, 9}

In [30]:
s2.symmetric_difference_update(s1)
s2

{2, 3, 4, 5, 6}

## Dictionary

In [31]:
students = {1: "Jhon", 2: "Alexa", 3: "Tessa"}
students

{1: 'Jhon', 2: 'Alexa', 3: 'Tessa'}

In [32]:
students[2] = "Alexa Smith"
students

{1: 'Jhon', 2: 'Alexa Smith', 3: 'Tessa'}

In [33]:
students[4] = "Hardin"
students

{1: 'Jhon', 2: 'Alexa Smith', 3: 'Tessa', 4: 'Hardin'}

In [34]:
students.get(4)

'Hardin'

In [35]:
students.keys()

dict_keys([1, 2, 3, 4])

In [36]:
students.values()

dict_values(['Jhon', 'Alexa Smith', 'Tessa', 'Hardin'])

In [37]:
students.items()

dict_items([(1, 'Jhon'), (2, 'Alexa Smith'), (3, 'Tessa'), (4, 'Hardin')])

In [38]:
students.pop(3)
students

{1: 'Jhon', 2: 'Alexa Smith', 4: 'Hardin'}

In [39]:
students.popitem()
students

{1: 'Jhon', 2: 'Alexa Smith'}

In [40]:
students.update({5:"A", 6:"B"})
students

{1: 'Jhon', 2: 'Alexa Smith', 5: 'A', 6: 'B'}

In [41]:
students.fromkeys([7,8,9], "NA")
students

{1: 'Jhon', 2: 'Alexa Smith', 5: 'A', 6: 'B'}

In [42]:
students.setdefault(10, "BH")
students

{1: 'Jhon', 2: 'Alexa Smith', 5: 'A', 6: 'B', 10: 'BH'}

## Nesting Data Structure

In [43]:
matrix = [
    [[2,2.5],3],
    [6,7]
]
matrix

[[[2, 2.5], 3], [6, 7]]

In [44]:
matrix [0]

[[2, 2.5], 3]

In [45]:
matrix [0][0]

[2, 2.5]

In [46]:
matrix [0][0][0]

2

In [47]:
matrix = [
    [{2,2.5},3],
    [6,7]
]
matrix

[[{2, 2.5}, 3], [6, 7]]

In [48]:
matrix [0][0]

{2, 2.5}

In [49]:
matrix = [
    [{2,2.5}, (2,3)],
    [6,7]
]
matrix [0][1]

(2, 3)

## Conversion

In [50]:
list(s1)

[2, 5, 6, 7, 8, 9]

In [51]:
tuple(s1)

(2, 5, 6, 7, 8, 9)

In [52]:
dict(s1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [53]:
set(t)

{3, 6, 7, 45, 78, 788}

In [56]:
dict([(1, 1), (2, 4),(3, 9)])

{1: 1, 2: 4, 3: 9}