### List

In [2]:
data = [4, 4.55, 3, 3, 6, 8, 2, True, "Str", 3+5j]
data

[4, 4.55, 3, 3, 6, 8, 2, True, 'Str', (3+5j)]

### Indexing

In [5]:
data[0]
data[-1]
data[::-1]

[(3+5j), 'Str', True, 2, 8, 6, 3, 3, 4.55, 4]

In [10]:
#Update
data[0] = 44
data[2:4] = 9, 9
data

[44, 4.55, 9, 9, 6, 8, 2, True, 'Str', (3+5j)]

### List Methods

In [4]:
nums = [3,45,6,7,3,78,3,788,6]
nums

[3, 45, 6, 7, 3, 78, 3, 788, 6]

In [85]:
nums.append(99)
nums.insert(1,-99)
nums.extend([3,4,5,67])
nums

[45, -99, 99, 3, 4, 5, 67]

In [43]:
nums.count(3)

4

In [44]:
nums.index(45)

2

In [91]:
nums.pop(-1)

3

In [88]:
nums.remove(99)
nums

[45, 3, 4, 5, 67]

In [89]:
nums.reverse()
nums

[67, 5, 4, 3, 45]

In [48]:
len(nums)

13

In [49]:
nums.sort()
nums

[-99, 3, 3, 3, 4, 5, 6, 6, 7, 45, 67, 78, 788]

In [50]:
nums.sort(reverse=True)
nums

[788, 78, 67, 45, 7, 6, 6, 5, 4, 3, 3, 3, -99]

In [51]:
nums.clear()
nums

[]

### Shallow Copy vs Deep Copy

In [54]:
nums = [3,45,6,7,3,78,3,788,6]
nums2 = nums    #Shallow Copy
nums2.append(9999)
nums

[3, 45, 6, 7, 3, 78, 3, 788, 6, 9999]

In [57]:
nums3 = nums.copy()
nums3.append(333333)
nums3

[3, 45, 6, 7, 3, 78, 3, 788, 6, 9999, 333333]

## Tuple

In [64]:
t = (3,45,6,7,3,78,3,788,6)
t[::-1]

(6, 788, 3, 78, 3, 7, 6, 45, 3)

## Set

In [121]:
s1 = {9,2,3,4,2,4,3,5,6}
s1.add(33)
s1

{2, 3, 4, 5, 6, 9, 33}

In [122]:
s1.discard(9)
s1

{2, 3, 4, 5, 6, 33}

In [123]:
s1.remove(2)
s1

{3, 4, 5, 6, 33}

In [124]:
s1.pop()

33

In [137]:
s1 = {2, 3, 4, 5, 6}
s2 = {7, 3, 4, 8, 9}
s1.union(s2)

{2, 3, 4, 5, 6, 7, 8, 9}

In [138]:
s1.intersection(s2)

{3, 4}

In [139]:
s1.difference(s2)

{2, 5, 6}

In [140]:
s2.difference(s1)

{7, 8, 9}

In [144]:
s1.symmetric_difference(s2)

{2, 5, 6, 7, 8, 9}

In [145]:
s2.symmetric_difference(s1)

{2, 5, 6, 7, 8, 9}

In [158]:
s1.symmetric_difference_update(s2)
s1

{2, 5, 6, 7, 8, 9}

In [156]:
s2.symmetric_difference_update(s1)
s2

{2, 3, 4, 5, 6}

## Dictionary

In [263]:
students = {1: "Jhon", 2: "Alexa", 3: "Tessa"}
students

{1: 'Jhon', 2: 'Alexa', 3: 'Tessa'}

In [264]:
students[2] = "Alexa Smith"
students

{1: 'Jhon', 2: 'Alexa Smith', 3: 'Tessa'}

In [265]:
students[4] = "Hardin"
students

{1: 'Jhon', 2: 'Alexa Smith', 3: 'Tessa', 4: 'Hardin'}

In [266]:
students.get(4)

'Hardin'

In [267]:
students.keys()

dict_keys([1, 2, 3, 4])

In [268]:
students.values()

dict_values(['Jhon', 'Alexa Smith', 'Tessa', 'Hardin'])

In [269]:
students.items()

dict_items([(1, 'Jhon'), (2, 'Alexa Smith'), (3, 'Tessa'), (4, 'Hardin')])

In [270]:
students.pop(3)
students

{1: 'Jhon', 2: 'Alexa Smith', 4: 'Hardin'}

In [271]:
students.popitem()
students

{1: 'Jhon', 2: 'Alexa Smith'}

In [272]:
students.update({5:"A", 6:"B"})
students

{1: 'Jhon', 2: 'Alexa Smith', 5: 'A', 6: 'B'}

In [276]:
students.fromkeys([7,8,9], "NA")
students

{1: 'Jhon', 2: 'Alexa Smith', 5: 'A', 6: 'B', 10: 'BH'}

In [274]:
students.setdefault(10, "BH")
students

{1: 'Jhon', 2: 'Alexa Smith', 5: 'A', 6: 'B', 10: 'BH'}