In [6]:
first_name = input("Enter First Name: ")
last_name = input("Enter Last Name: ")

full_name = first_name + " " + last_name

print(full_name)

jhon smith

In [2]:
name = "Jhon Smith"
addr = 'Slicon@Vall@ey'
type(addr)

str

In [3]:
name = "jhon Smith's34"
addr = 'Silicon@vall@ay'
type(addr)

str

In [35]:
name = "jhon Smith\"s34"
addr = 'Silicon@Vall@ay'
type(addr)

str

### Stiring Methods

In [36]:
addr.upper()
addr.lower()
addr.capitalize()
addr.title()
addr.count('S')
addr.endswith('y')
addr.startswith("S")
addr.find("l")
addr.split()
addr.split("@")
addr.replace("@", "_", 2)

'Silicon_Vall_ay'

In [37]:
addr.upper()

'SILICON@VALL@AY'

In [38]:
addr.lower()

'silicon@vall@ay'

In [39]:
addr.capitalize()

'Silicon@vall@ay'

In [40]:
addr.title()

'Silicon@Vall@Ay'

In [18]:
addr.count('a')

2

In [20]:
addr.endswith("y")

True

In [21]:
addr.endswith("s")

False

In [24]:
addr.startswith("S")

True

In [25]:
addr.startswith("T")

False

In [29]:
addr.find("y")

15

### String Indexing

In [9]:
name

'Jhon Smith'

In [28]:
name[5]
name[0:4]
name[0:10]
name[-4:-9:-1]
name[0:10:2]
name[::-1]
name[::]

'Jhon Smith'

### Numbers

In [30]:
num = 23
type(num)

int

In [57]:
num2 = 23.56110
type(num2)

float

In [49]:
num3 = 2 + 3j
type(num3)
num3.real
num3.imag

3.0

### Boolean

In [50]:
is_married = True
type(is_married)

bool

### Type Conversion

In [51]:
float(num)

23.0

In [52]:
complex(num2)

(23.56+0j)

In [58]:
round(num2, 3)

23.561

In [59]:
float(256)

256.0

In [63]:
int(56.76)

56

In [64]:
bool(0)

False

In [65]:
bool(1)

True

In [66]:
bool(-100)

True

In [68]:
bool(None)

False

In [70]:
bool("")

False

In [71]:
bool(" ")

True

### String Formatting

In [2]:
name = "Alexa Perry"
age = 24
height = 175.67

In [3]:
print("Name:", name, "Age:", age, "Height:", height)

Name: Alexa Perry Age: 24 Height: 175.67

In [96]:
print("Name: {0} Age: {1} Height: {2}".format(name, age, height))

Name: Alexa Perry Age: 24 Height: 175.67

In [98]:
print("Name: {0} Age: {2} Height: {1}".format(name, age, height))

Name: Alexa Perry Age: 175.67 Height: 24

In [99]:
print("Name: %s Age: %d Height: %f" %(name, age, height))

Name: Alexa Perry Age: 24 Height: 175.670000

In [106]:
print("Name: %s Age: %d Height: %.2f" %(name, age, height))

Name: Alexa Perry Age: 24 Height: 175.67

In [102]:
print(f"Name: {name} Age: {age} Height: {height}")

Name: Alexa Perry Age: 24 Height: 175.67

In [105]:
print(f"Name: {name} Age: {age} Height: {height: .3f}")

Name: Alexa Perry Age: 24 Height:  175.670